//FONTS
$fontConsole: Gugi, sans-serif;
$fontConsole2: Inconsolata, sans-serif;
$fontMain: Roboto, sans-serif;
$fontMain2: Ubuntu, sans-serif;
$fontAudioWide: AudioWide, sans-serif;

//COLORS
$color-0: #ff9577;
$color-1: #de9151;
$color-2: #bc5d2e;
$color-3: #098f41;
$color-4: #bbb8b2;
$color-5: #ffffff;
$color-6: #ffffff;
$color-7: #ffffff;
$color-8: #ffffff;
$color-9: #ff71a8;
$color-white: white;
$color-black: black;
$color-gray: #9b9d9e;