*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    scroll-behavior: smooth;
}

@import "variables";
@import "tags";
@import "class";
@import "id";